@font-face {
  font-family: 'Parkinsans';
  src: url('./assets/fonts/Parkinsans-Regular.ttf');
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: 'Parkinsans';
  src: url('./assets/fonts/Parkinsans-Medium.ttf');
  font-weight: 500;
  font-display: block;
}
@font-face {
  font-family: 'Parkinsans';
  src: url('./assets/fonts/Parkinsans-SemiBold.ttf');
  font-weight: 600;
  font-display: block;
}
@font-face {
  font-family: 'Parkinsans';
  src: url('./assets/fonts/Parkinsans-Bold.ttf');
  font-weight: 700;
  font-display: block;
}