.wrapper {
  padding: 20px 0;
  .question {
    padding: 20px;
    border: 1px solid var(--accent);
    border-radius: var(--b_radius);
    font-weight: 500;
    letter-spacing: 0;
  }
  .answers {
    
  }
  .action {

  }
}